<script language="javascript">

function doSearch()
{

    document.forms[0].action = document.forms[0].action + "?corrected_amt="+document.forms[0].corrected_amt.value+"&start_date="+document.forms[0].start_date.value+"&end_date="+document.forms[0].end_date.value+"&customer_name="+document.forms[0].customer_name.value
        +"&leak_status="+document.forms[0].leak_status.value;
    //alert(document.forms[0].action);
    document.forms[0].submit();

}
</script>
    <form action="/meter_readings/search" method="get">
    <table>    
        <tr>
        <td colspan="2">
    <b>Search</b><br>
        </td>
        <tr>
            <td>
    <b>Threshold value</b></td><td><input type="text" name="corrected_amt" value="<%=params[:corrected_amt]%>"></td>
    <tr>
        <td>
    <b>Start Date</b></td><td><input type="text" name="start_date" value="<%=params[:start_date]%>"> (yyyy-mm-dd)</td></tr>
    <tr><td>
    <b>End Date</b></td><td><input type="text" name="end_date" value="<%=params[:end_date]%>"> (yyyy-mm-dd)</td></tr>
    <tr><td><b>Customer Name</b></td><td><input type="text" name="customer_name" value="<%=params[:customer_name]%>"></td></tr>
    <tr><td>Leak Status</td><td><select name="leak_status">
        <option selected value="All">All</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option> 
    </td></tr>
    <tr><td colspan="2"><input type="button" name="search" value="Search" onClick="return doSearch()">
    </td></tr>

</table>
    </form>
<div>    

<h1>Listing readings</h1>
<b> Listing <%=@readings.size unless @readings.nil?%> records</b>
<table border="1">
  <tr>
    <th>Id</th>
    <!--th>Usage</th-->
    <th>Meter Reading</th>
    <th>Corrected amt</th>
    <th>Remote Id</th>
    <th>Leak Status</th>
    <th>Read Date</th>
    <th>address</th>
    <th>Service Type</th>
    <th>Equipment Class</th>
    <th>Meter Size</th>
    <th>Route Id</th>
    <!--th></th>
    <th></th>
    <th></th-->
  </tr>

<% @readings.each do |reading| %>
  <tr border="1">
    <td border="1" nowrap><%= reading.id %></td>
    <!--td  border="1" nowrap>< reading.usage %></td-->
    <td  border="1"><%= reading.meter_reading %></td>
    <td  border="1" nowrap><%= reading.corrected_amt %></td>
    <td  border="1" nowrap><%= reading.remote_id %></td>
     <td  border="1"><%= reading.leak_status %></td>
    <td  border="1"><%= reading.read_date %></td>
    <td  border="1"><%= reading.address %></td>
    <td  border="1"><%= reading.service_type %></td>
    <td  border="1"><%= reading.equipment_class %></td>
    <td  border="1"><%= reading.meter_size %></td>
    <td  border="1"><%= reading.route_id %></td>
    <!--<td  border="1"><%= link_to 'Show', reading %></td>
    <td  border="1"><%= link_to 'Edit', edit_meter_reading_path(reading) %></td>
    <td  border="1"><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reading', new_meter_reading_path %>
